@tailwind base;
@tailwind components;
@tailwind utilities;


 
.hover-underline::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    bottom: 0;
    background: #FF7E21;
    transition: width 0.3s ease, right 0.3s ease;
  }

  .hover-underline:hover::after {
    width: 100%;
    right: 0;
  }